<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <app-alert></app-alert>

      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">{{currentPost?.title}}</h2>
              <h5 class=" card-title">Created by: {{currentPost?.creator.username}}</h5>
            </div>
            <div class=" card-body w-100">
              <p class=" card-text"></p>
              <div class=" author">
                <div class=" block block-one"></div>
                <div class=" block block-two"></div>
              </div>
              <div>
              <p class="d-flex justify-content-center title">{{ currentPost?.description }}</p>
            </div>
            </div>
          </div>

        </div>
        <div class=" card card-chart">
          <div class=" card-header">
            <div class=" row">
              <div class=" col-sm-12  text-left">
                <h2 class=" card-title">Add ur answer</h2>
                <input (keyup)="onKey($event)" class=" form-control" placeholder="Type ur answer" type="text" name="comment"/>
                <button
                  class=" btn btn-fill btn-info"
                  type="button"
                  (click)="addComment()"
                >Send comment</button>
                <div class="block block-one"></div>
                <h2 class=" card-title pt-4 pb-1">Current Answers:</h2>
                  <div *ngFor="let comment of currentPost?.comments; let i = index" class=" card card-user col-md-12 ">
                    <div class=" card-body">
                      <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <button class=" btn btn-sm  btn-danger" (click)="deleteComment(comment.id)" *ngIf="isAdmin || comment.user?.id == currentUser?.id" >
                         Delete
                        </button>
                      </div>
                     <div class=" block block-one"></div>
                      <div class="block block-two"></div>
                        <div><h4>User: {{comment.user.username}}</h4></div>
                          <div>Wrote:<p>{{comment.text}}</p></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" card card-chart">
      </div>
    </div>
  </div>
</div>
